<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'/>
        <title>LOOK ABOVE</title>
        <meta name='viewport' content='initial-scale=1.0, width=device-width'/>
        <link rel='stylesheet' href="{{ url_for('static',filename='styles2.css') }}"/>
        <!--
            favicon
        -->
    </head>
    <body>
        <header>
            <img src="{{ url_for('static',filename='soldier.png') }}" alt='marine67 icon'/>
            <h1>LOOK ABOVE!</h1>
            <img src="{{ url_for('static',filename='reaper.png') }}" alt='grim icon'/>
        </header>
        {% block main_content %}
        {% endblock %}
        <section id="login">
        {% if g.user %}
            <p> User: {{g.user}}</p>
            <a href='{{url_for("logout")}}'>Log Out</a>

        {%else%}
            <a href='{{url_for("register")}}'>Register</a>
            <a href='{{url_for("login")}}'>Log In</a>
        {%endif%}
        </section>
        <footer>
            <p>All resources used are copyright-free</p>
        </footer>
    </body>
</html>